---
import Recipe from '../../components/Recipe.astro';
import Layout from '../../layouts/Layout.astro';
import {parmesanRisotto} from "./recipe"

---

<Layout title="Parmesan risotto">
	<main>
        <Recipe {...parmesanRisotto} />
	</main>
</Layout>
