---
import Recipe from '../../components/Recipe.astro';
import RecipeLayout from '../../layout/recipeLayout.astro';
import Layout from '../Layout.astro';
import { parmesanRisotto } from './recipe';
---

<Layout title="Parmesan risotto">
	<RecipeLayout>
		<main class="flex justify-center">
			<Recipe {...parmesanRisotto} />
		</main>
	</RecipeLayout>
</Layout>
