@import "tailwindcss";

@theme {
	--color-bg-primary: #f1eddd;
	--color-bg-secondary: #eee29d;
	--color-black: #230f0f;
	--color-primary: #3b1a18;
	--color-secondary: #b05138;
}

.gallery {
	display: grid;
	gap: 1rem;
	grid-auto-rows: auto;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.featured {
	grid-column: span 1;
}

@media (min-width: 768px) {
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}
