---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mis Recetas">
	<main>
		<h1 class="text-3xl font-bold underline">
			Recipe Book
		</h1>  
		<a href="/parmesan-risotto/" >parmesan recipe</a>
	</main>
</Layout>