---
import Card from '../components/Card.astro';
import Layout from './Layout.astro';
import "../../global.css"
---

<Layout title="Mis Recetas">
	<main>
		<h1 class="text-3xl font-bold text-center">
			Recipe Book
		</h1>  
		<section class="mt-10 gallery p-5" >
			<Card img="/parmesan-risotto.jpg" name="Parmesan risotto" href="/parmesan-risotto" cookingTime="30"/>
			<Card img="/cuscus-carne-picada.jpg" name="Cuscus con carne picada" href="/cuscus-carne-picada" cookingTime="30"/>
		</section>
	</main>
</Layout>
