---
import Card from '../components/Card.astro';
import Layout from './Layout.astro';
import "../../global.css"
---

<Layout title="Mis Recetas">
	<main>
		<header class="mt-5 md:mt-10">
			<h1 class="text-4xl font-bold text-center">
				Recipe Book
			</h1>  
		</header>
		<section class="mt-10 md:mx-10 gallery p-5" >
			<Card img="/parmesan-risotto.jpg" name="Parmesan risotto" href="/parmesan-risotto" cookingTime="30"/>
			<Card img="/cuscus-carne-picada.jpg" name="Cuscus con carne picada" href="/cuscus-carne-picada" cookingTime="30"/>
			<Card img="/quesadilla-pollo.jpg" name="Quesadilla de pollo" href="/quesadillas-pollo" cookingTime="60"/>
		</section>
	</main>
</Layout>
