---
import Recipe from '../../components/Recipe.astro';
import Layout from '../Layout.astro';
import { cuscusConCarnePicada } from './recipe';
---

<Layout title="Cuscus carne picada">
	<main class="flex justify-center">
        <Recipe {...cuscusConCarnePicada} />
	</main>
</Layout>
