---
import Cart from "../icons/cart.astro"
---

<button
	id="toggle-menu"
	aria-control="cart-menu"
	aria-expanded="false"
	class="fixed right-8 top-8 z-50 rounded-full bg-bgPrimary p-2"
	><span class="sr-only">Open Cart</span>
	<Cart />
</button>
<aside id="cart-menu" data-visible="false" class="fixed bg-bgSecondary">
	<div class="mt-10">
		<header>
			<h3 class="text-center uppercase">Cart</h3>
		</header>
		<section class="cart p-2"></section>
		<div class="mt-10 flex justify-center align-middle">
			<button id="clean-button" class="rounded border-2 px-2 py-1"
				>Remove all</button
			>
		</div>
	</div>
</aside>

<style>
	#cart-menu {
		inset: 0 0 0 0%;
	}
	#cart-menu[data-visible="false"] {
		transform: translateX(100%);
	}
	#cart-menu[data-visible="true"] {
		transform: translateX(0%);
	}

	@media (max-width: 400px) {
		#cart-menu {
			inset: 0 0 0 0%;
		}
	}

	@media (min-width: 400px) and (max-width: 800px) {
		#cart-menu {
			inset: 0 0 0 40%;
		}
	}

	@media (min-width: 800px) {
		#cart-menu {
			inset: 0 0 0 70%;
		}
	}
</style>

<script>
	import { getCartItems, cleanAll } from "../store.ts"

	window.addEventListener("cartchange", () => {
		console.log("cart has change")
		loadIngredientsToCart()
	})

	function removeAllFromCart() {
		console.log("clean")
		cleanAll()

		const section = document.querySelector(".cart")
		if (section) {
			section.innerHTML = ""
		}
	}

	function loadIngredientsToCart() {
		const ingredient = getCartItems()

		const section = document.querySelector(".cart")
		if (section) {
			section.innerHTML = ""
		}

		const ul = document.createElement("ul")
		ul.setAttribute("class", "grid gap-2")

		ingredient.forEach((ingredient) => {
			const li = document.createElement("li")
			li.innerHTML = `<input type='checkbox'> ${ingredient.ingredient} x ${ingredient.quantity}</span>`
			ul?.appendChild(li)
		})
		section?.appendChild(ul)
	}

	function initToggle() {
		loadIngredientsToCart()

		const aside = document.querySelector("#cart-menu")
		const toggleMenu = document.querySelector("#toggle-menu")

		toggleMenu?.addEventListener("click", () => {
			const isVisible = aside?.getAttribute("data-visible") === "true"
			console.log("click")
			if (isVisible) {
				aside?.setAttribute("data-visible", "false")
				toggleMenu?.setAttribute("aria-expanded", "false")
			} else {
				aside?.setAttribute("data-visible", "true")
				toggleMenu?.setAttribute("aria-expanded", "true")
			}
		})
	}

	document.addEventListener("astro:page-load", () => {
		initToggle()

		const cleanButton = document.getElementById("clean-button")
		cleanButton?.addEventListener("click", () => {
			removeAllFromCart()
		})
	})
</script>

<script></script>
