<header class="p-6 fixed z-50 w-screen text-x2 hidden md:flex">
    <a href="/" class="flex gap-2 hover:text-gray-700">
        <img src="/back.svg" height="24px" width="24px"/>
        <p class="hidden lg:flex mb-[3px]">Volver al menu</p>
    </a>
</header>
<slot />