---
import Back from "../icons/back.astro";
---

<header class="p-6 fixed z-50 w-screen text-x2 md:flex">
    <a href="/" class="flex gap-2 hover:text-gray-700">
        <Back />
        <p class="hidden lg:flex mb-[3px]">Volver al menu</p>
    </a>
</header>
<slot />